@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: 'Inter';
    --font-color1: hsl(0, 0%, 100%);
    --font-color2: hsl(75, 94%, 57%);
    --bg-color1: hsl(0, 0%, 8%);
    --bg-color2: hsl(0, 0%, 12%);
    --bg-color3: hsl(0, 0%, 20%);
}

* {
    padding: 0em;
    margin: 0em;
    font-family: var(--primary-font);
}

body {
    background-color: var(--bg-color1);
    line-height: 1.7em;
    display: grid;
    grid-template-rows: 1fr 20px;
    height: 100vh;
}

main {
    background-color: var(--bg-color2);
    color: var(--font-color1);
    width: 300px;
    height: 550px;
    text-align: center;
    padding: 1.25em;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-row: 1/2;
}

main h1 {
    font-weight: 500;
    font-size: 24px;
}

main img {
    border-radius: 50%;
    width: 100px;
}

main p.location {
    color: var(--font-color2);
    font-weight: 600;
    font-size: 13px;
}

main a, li {
    color: var(--font-color1);
    text-decoration: none;
    list-style-type: none;
    padding: 0.625em;
    margin: 1.13em;
    border-radius: 8px;
    background-color: var(--bg-color3);
}

p {
    padding-bottom: 0.66em;
}

.attribution { font-size: 11px; text-align: center; color: white;}
.attribution a { color: hsl(228, 45%, 44%); }

footer {
    grid-row: 2/3;
}